body {
    font-family: sans-serif;
    /* background-color: #fffddd; */
    padding: 0;
    margin: 0;
}
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 5px;
}
.logo-main {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    color: #fd5a31;
}
.logo-dis {
    text-align: center;
    font-size: 24px;
}
.logo {
    padding-bottom: 30px;
}
.addres {
    margin-bottom: 10px;
}
#map {
    height: 450px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    margin-bottom: 40px;
  }

/* ---------------------------galery---------------------------------- */


  .galery img {
      width: 100%;
      padding: 10px 0;
      /* border-bottom: dotted 2px #000000; */
      
  }
  .galery-title {
      font-size: 25px;
  }
/* .galery-first {
    height: 300px;
} */

.map2 iframe{
    width: 100%;
} 

/* ---------foooter-------------- */
.footer {
    background-color: rgb(36, 36, 36);
    min-height: 100px;
    color: rgb(212, 212, 212);
    padding:20px;
    font-size: 20px;
}
.footer h3{
    padding: 20px 0;
    margin: 0;
    font-size: 28px;
}


.footer-days,
.footer-hours {
    display: inline-block;
}

.footer-days span{
    /* display: flex;
    flex-direction: column; */
    display: block;
    padding: 0 30px 10px 0;
}
 .footer-hours span{
    /* display: flex;
    flex-direction: column; */
    display: block;
    padding: 0 30px 10px 0;
 }

 .footer a {
     color: rgb(212, 212, 212);
     text-decoration: none;
 }

